header{
    background-color: #17abb3;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
/*photo de profil*/
figure{
    width: 120px;
    height: 120px;
    margin: 35px 300px 0 100px;
}
figure img{
    width: 100%;
    height: 100%;object-fit: cover;
    border-radius: 50%;
    border: solid 4px #ffffff;
}
figure a{
    cursor: zoom-in;
}
/*Infos*/
#informations{
    width: 500px;
    margin: 0 170px 0 0;
    color: #ffffff;
}
h1{
    text-align: center;
    font-size: 2.6em;
    padding: 0 0 0 0;
    margin: 20px 0 10px 0;
    font-family:'Lato';
}
a{
    text-decoration: none;
    color: #ffffffff;
}
/*Poste recherché*/
#poste{
    text-align: center;
    font-size: 1.3em;
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
    font-family: "ralewaybold";
}
/*Infos de contact*/
#contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 116px;
    width: 280px;
    height: 55px;
}
#image1{
    flex-basis: 50%;
}
#image2{
    flex-basis: 50%;
}
#image3{
    flex-basis: 50%;
}
#image4{
    flex-basis: 50%;
}
#contact img{
    width: 15px;
    float: left;
    margin: 0 10px 0 10px;
    filter: invert(100%);
}